@font-face {
    src: url("fonts/MovementV.woff2") format("woff2");
        font-family: 'Movement';
        font-style: normal;
        font-weight: normal;
        }
    
    body{
    background-color: rgb(126, 119, 184);
    font-family: 'Movement';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the "box" for history */
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "h a"
    "v v";
}

#history {
grid-area: h;
background-color: rgb(105, 198, 181);
}
.history-paragraph{
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
.history-h2{
    padding-left: 7px;

}
.history-h1{
    padding-left: 7px;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
background-color: rgb(101, 80, 161);
}
.alphabet-h2{
    padding-left: 7px;
    color: rgb(105, 198, 181);
    
}
.alphabet-paragraph-1{
    padding-left: 10px;
    padding-right: 10px;
}
}
/* CSS for the footer */
footer{
    background-color: rgb(82, 70, 147);
    height: 100px;
}

h2{
    color: rgb(71, 55, 122);
    font-variation-settings: "wght" 450, "SPAC" 107;
}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 100px;
    animation: weightChange 3s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 100, "SPAC" 100;
    }
    50%{
        font-variation-settings: "wght" 900, "SPAC" 120;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

 /* color: rgb(105, 198, 181) lightest teal
    color: rgb(80, 173, 156) light teal
    color: rgb(43, 127, 112) teal
    color: rgb(12, 96, 81) dark teal
    color: rgb(7, 81, 68) darker teal
    color: rgb(7, 56, 47) darkest teal

    color: rgb(126, 119, 184) lightest purple
    color: rgb(123, 102, 173) light purple
    color: rgb(101, 80, 161) purple
    color: rgb(82, 70, 147) dark purple
    color: rgb(71, 55, 123) darker purple
    color: rgb(40, 24, 75) darkest purple
    */
